.category_type_list_box {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Microsoft YaHei';
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid #d4cfc6;
    border-right: 1px solid #d4cfc6;
    position: relative;
    overflow-y: auto;
    * {
        box-sizing: border-box;
        overflow: visible;
        text-decoration: none;
        margin: 0
    }
    .category-choose {
        min-height: 235px;
        .head {
            height: 90px;
            border-bottom: 1px solid #d4cfc6;
            >div {
                width: 25%;
                float: left;
                height: 89px;
                border-top: 5px solid #fff;
                border-right: 1px solid #d4cfc6;
                &:nth-child(4) {
                    border-right: none
                }
                &.active {
                    border-top: 5px solid #2b2cdc;
                    color: #2b2cdc;
                    background: #eeeff0;
                    position: relative;
                    height: 90px;
                    >p span {
                        color: #2b2cdc;
                    }
                }
                >p {
                    font-size: 24px;
                    line-height: 1;
                    margin-top: 24px;
                    padding-left: 24px;
                    cursor: pointer;
                    span {
                        font-size: 14px;
                        color: #666;
                        font-family: 'Arial'
                    }
                }
            }
        }
        .list {
            overflow: hidden;
            min-height: 145px;
            border-bottom: 1px solid #d4cfc6;
            background: #eeeff0;
            a {
                // float: left;
                width: 205px;
                padding-left: 24px;
                font-size: 18px;
                color: #171717;
                line-height: 1;
                display: inline-block;
                margin-top: 34px;
                p {
                    span {
                        line-height: 24px;
                        background: #f49f22;
                        padding: 0 10px;
                        color: #fefeff;
                        font-size: 12px;
                        display: inline-block;
                        position: relative;
                        top: -3px;
                        border-radius: 24px;
                    }
                }
            }
        }
    }
    .list {
        flex: 1;
        overflow: scroll;
        .category-item {
            div {
                overflow: hidden;
            }
            &:last-child {
                .lefts,
                .rights {
                    >div {
                        &:last-child {
                            border-bottom: 1px solid #d4cfc6;
                        }
                    }
                }
            }
            .lefts,
            .rights {
                float: left;
                width: 50%;
                >div {
                    position: relative;
                    &:before {
                        content: '';
                        display: inline-block;
                        border-right: 1px solid #d4cfc6;
                        height: 100%;
                        position: absolute;
                        left: 50%;
                        top: 0;
                    }
                }
                &.lefts {
                    >div {
                        border-right: 1px solid #d4cfc6;
                    }
                }
                .img {
                    position: relative;
                    z-index: 9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 80%;
                        // max-height: 80%;
                        // height: 80%;
                        // width: auto;
                    }
                }
                .big {
                    padding: 30px;
                    .img {
                        background: url("/assets/toBoom/images/item_bg.jpg");
                        background-size: 100%;
                        // height: 715px;
                    }
                }
                .small {
                    padding: 30px;
                    float: left;
                    width: 50%;
                    .img {
                        background: #f1f1f3;
                        // height: 360px;
                    }
                }
            }
        }
        .loading {
            font-size: 16px;
            text-align: center;
            line-height: 90px;
        }
    }
    .categroy-extra {
        width: 140px;
        // position: absolute;
        // right: -190px;
        top: 250px;
        margin-top: 230px;
        margin-right: 130px;
        .control {
            height: 140px;
            text-align: center;
            font-size: 14px;
            color: #acacac;
            border-radius: 100%;
            background: #454545;
            p {
                cursor: pointer;
            }
            .top,
            .bottom {
                height: 45px;
                line-height: 45px;
            }
            .center {
                height: 50px;
                overflow: hidden;
                line-height: 50px;
                >p {
                    float: left;
                    width: 45px;
                    height: 50px;
                    &.op {
                        width: 50px;
                        background: #171717;
                        border-radius: 100%;
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: -1px;
                    }
                }
            }
        }
        .extra-choose {
            margin-top: 95px;
            text-align: center;
            .extra-item {
                margin-bottom: 50px;
                &.active {
                    a {
                        color: #2b2cdc
                    }
                }
                a {
                    color: #171717;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            .choose-item {
                text-align: left;
                padding-left: 35px;
                >p {
                    cursor: pointer;
                    font-size: 18px;
                    color: #171717;
                    &.active {
                        i {
                            transform: rotate(-180deg);
                        }
                    }
                    i {
                        background: url("/assets/toBoom/images/row.png");
                        height: 10px;
                        width: 10px;
                        display: inline-block;
                        transition: all .35s;
                        transform: rotate(0);
                    }
                }
                ul {
                    padding-top: 5px;
                    li {
                        a {
                            line-height: 35px;
                            font-size: 16px;
                            padding-left: 10px;
                            color: #171717;
                            font-weight: 300
                        }
                    }
                }
            }
        }
    }
    .xl-switch-tabs {
        transition: height .2s;
        overflow: hidden;
        .xl-switch-tabs_content {
            //max-height: r(200);
            overflow-y: auto;
        }
    }
    .to_top {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: #eceff4;
        position: fixed;
        bottom: 133px;
        right: 168px;
        &:hover {
            background-color: #b6b9be;
        }
        .iconfont.to_top {
            font-size: 24px;
        }
    }
}

.baoyicenghuisima {
    flex: 1;
    padding-left: 175px;
    padding-right: 50px;
}

.popular_detail {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: calc( 100% - 160px);
    transform: translateX(120%);
    background: white;
    transition: all .8s cubic-bezier(.13, .7, .71, 1.14);
    display: flex;
    flex-direction: row;
    z-index: 9;
    .popular_photo_shuffling {
        // flex: 1;
        width: 60%;
        display: flex;
        flex-direction: row;
        padding-right: 50px;
        .photo_shuffling_show {
            width: 780px;
            display: flex;
            justify-content: center;
            align-self: center;
            position: relative;
            height: 100%;
            div {
                display: flex;
                width: 373px;
                align-items: center;
                img {
                    display: block;
                    width: 100%;
                    transition: all .5s;
                }
            }
            i {
                font-size: 50px;
                color: #939393;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                cursor: pointer;
            }
            i.left {
                left: 100px;
            }
            i.right {
                right: 100px;
            }
        }
        .photo_shuffling_imgList {
            // flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 135px;
            ul {
                list-style: none;
                max-height: 780px;
                overflow-y: auto;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                box-sizing: border-box;
                li {
                    width: 115px;
                    height: 145px;
                    border: 1px solid #D6D6D6;
                    background-color: #ECEFF4;
                    margin-bottom: 15px;
                    flex: none;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                li.active {
                    border-color: #2A37F1;
                }
            }
            ul::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .popular_shuffling_info {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 0 45px;
        box-sizing: border-box;
        background-color: #ECEFF4;
        position: relative;
        .shuffling_info {
            flex: 1;
            padding-bottom: 125px;
            h4 {
                padding-top: 10px;
                font-size: 28px;
                font-weight: 500;
            }
            .shuffling_info_icon {
                margin-bottom: 70px;
                i {
                    margin-right: 54px;
                }
                i.heart-fill::before {
                    color: #EC3E7D;
                }
            }
            a {
                text-decoration: none;
                letter-spacing: 2px;
                padding: 10px 35px;
                border: 1px solid #DF6217;
                color: #DF6217;
            }
            .shuffling_back {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 48px;
                right: 50px;
                i {
                    font-size: 42px;
                    cursor: pointer;
                    padding-bottom: 20px;
                }
                span {
                    writing-mode: vertical-lr;
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 20px;
                }
            }
        }
    }
    .popular_recommend {
        height: 800px;
        overflow: hidden;
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            height: 100%;
            overflow-y: auto;
            padding-bottom: 20px;
            li {
                flex: none;
                width: 29%;
                overflow: hidden;
                // height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                background: #fff;
                margin-top: 15px;
                img {
                    display: block;
                    width: 80%;
                }
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }
}