.design-content {
    position: relative;
    //width: 100%;
    flex: 1;
    overflow-y: auto;
    background-image: url('/assets/toBoom/images/designManager/designbg.jpg');
    background-repeat: repeat;
    background-size: 19px 19px;
    background-position: 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 75px;
}

.setBorderWidth {
    .ant-checkbox-inner {
        border-width: 2px;
    }
}

.ant-checkbox-custom-style {
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: #000;
    }
    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-indeterminate .ant-checkbox-inner {
        background-color: #000;
        border-color: #000;
    }
}

.big-left-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 349px;
    height: 227px;
}

.big-left-top img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 40px 0;
}

.menu-btn {
    width: 145px;
    height: 42px;
}

.menu-btn img {
    width: 100%;
    height: 100%;
}

.outermost-layer-swiper {
    position: relative;
    width: 100%;
    height: 506px;
    background-image: url('/assets/toBoom/images/designManager/swiperBG.png');
    background-repeat: no-repeat;
    background-size: 100% 506px;
    background-position: 0 0;
    // overflow: hidden;
}

.swiper-position-pic {
    position: absolute;
    left: 150px;
    top: -104px;
    z-index: -1;
}

.swiper-div {
    // display: flex;
    height: 100%;
    overflow: hidden;
    padding-top: 45px;
    padding-left: 41px;
    box-sizing: border-box;
}

.swiper-div>.slick-slider {
    height: 100%;
    padding-left: 60px;
    padding-right: 19px;
    box-sizing: border-box;
    padding-right: 70px;
}

.swiper-div>.slick-slider>button.slick-prev {
    //left: 5px;
    left: -3px;
}

.swiper-div>.slick-slider>button.slick-next {
    //right: 15px;
    right: 1.5%;
}

.swiper-div .slick-next:before,
.swiper-div .slick-prev:before {
    font-size: 47px;
    line-height: 1;
    opacity: .75;
    color: #cccbcbeb;
}

.swiper-div .slick-prev,
.swiper-div .slick-next {
    width: unset;
    height: unset;
    top: 35%;
}

.swiper-div .slick-dots {
    bottom: 20px;
    left: -30px;
}

.recently-revised-content {
    width: 100%;
    margin-top: -10px;
    box-sizing: border-box;
    //z-index: 10;
}

.recently-revised-header {
    position: relative;
    width: 138px;
    height: 41px;
    margin-bottom: 30px;
    cursor: pointer;
}

.recently-revised-heade img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.single-recently-revised {
    height: 408px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 110px;
}

.single-recently-revised .recently-revised-picture {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    width: 230PX;
    height: 324px;
    background: url('/assets/toBoom/images/designManager/singleShowBG.png') top left no-repeat;
    background-size: 230px 324px;
    border-radius: 6px;
    box-shadow: 0 10px 17px 0 rgba(77, 177, 255, 0.19);
    //padding: 40px 27px 55px 31px;
    //box-sizing: border-box;
    //box-shadow: 0 0 5px 2px #ccc;
    //background-color: #fff;
}


/*.slick-list > .slick-track > div.slick-slide.slick-active:nth-of-type(5n+3) > div >.single-recently-revised {
    margin-right: 0;
} */

.single-recently-revised .single-pictureDiv {
    width: 182px;
    //height:245px;
    margin: 0 auto
}

.single-recently-revised .recently-revised-picture img {
    width: 100%;
    //height: 100%;
}

.single-recently-revised .recently-revised-name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 17px;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #1b2437;
    ;
}

.single-recently-revised .recently-revised-time {
    margin-left: 17px;
    font-size: 14px;
    color: #666;
}

.single-recently-revised .recently-revised-time span {
    margin-left: 10px;
}

.slick-next {
    right: -25px;
}

.allWorks-content {
    width: 100%;
    //height:400px;
    //display: flex;
    //flex-direction: column;
    //box-sizing:border-box;
    margin-top: 70px;
}

.allWorks-header {
    width: 138px;
    height: 41px;
}

.allWorks-header img {
    width: 100%;
    height: 100%;
}

.catalog {
    display: flex;
    width: 100%;
    //height: 115px;
    margin: 60px 0;
    font-size: 18px;
    //line-height: 115px;
    color: #1b2437;
}

.catalog-left {
    flex: 1;
    margin: auto 0;
}

.catalog-name {
    height: 22px;
    line-height: 22px;
    display: flex;
}

body .file-name-management {
    max-width: 20%;
    span {
        max-width: 65px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.file-name {
    display: flex;
    max-width: 25%;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.25px;
    font-weight: 600;
    .file-name-span {
        max-width: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}



.division-pic {
    width: 10px;
    height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 22px;
    background: url('/assets/toBoom/images/designManager/divisionPic.png');
    background-size: 8px 14px;
    background-position: 0 6px;
    background-repeat: no-repeat;
}

.catalog-right {
    width: 540px;
    //height: 115px;
    display: flex;
}

.search-bar {
    width: 219px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    background-image: url('/assets/toBoom/images/designManager/searchBorder.png');
    background-repeat: no-repeat;
    background-size: 219px 35px;
    background-position: 0 0;
    margin: auto 0;
}

.search-bar input {
    float: left;
    border: 0 none;
    outline: none;
    width: 180px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    box-sizing: border-box;
}

.search-bar .search-pic {
    float: right;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-image: url('/assets/toBoom/images/designManager/search.png');
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 1px 2px;
    cursor: pointer;
}

.icon-btn {
    margin-left: 25px;
    //width:120px;
    //height:30px;
    display: flex;
    align-items: center;
}

.icon-btn>i {
    cursor: pointer;
    padding: 0 17px;
    font-size: 20px;
    font-weight: 600;
}

.file {
    display: flex;
    flex-wrap: wrap;
}

.addFile {
    width: 245px;
    height: 127px;
    background-image: url('/assets/toBoom/images/designManager/addFileBG.png');
    background-repeat: no-repeat;
    background-size: 245px 127px;
    background-position: 0 0;
    background-color: #eef1f4;
    margin-right: 40px;
    padding-top: 15px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 6px 10px 0 rgba(77, 177, 255, 0.19);
    //text-align: center;
    //font-size: 16px;
    //color: #a8bfdc;
    //background-color: #fff;
    //box-shadow: 0 6px 10px 0 rgba(77,177,255,0.19);
    //border-radius: 6px;
    //letter-spacing: 0;
    //font-family: "PingFangSC-Semibold";
}

.addFile .addFile-btn {
    width: 65px;
    height: 45px;
    background-image: url('/assets/toBoom/images/designManager/addFileBtnBG.png');
    background-repeat: no-repeat;
    background-size: 65px 46px;
    margin: 25px auto;
    font-size: 14px;
    line-height: 45px;
    font-family: 'uzi';
    color: #000000;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 7px;
    padding-left: 5px;
    box-sizing: border-box;
}

.newFile {
    position: relative;
    display: flex;
    width: 245px;
    height: 127px;
    background-image: url('/assets/toBoom/images/designManager/addFileBG.png');
    background-repeat: no-repeat;
    background-size: 245px 127px;
    background-position: 0 0;
    margin-right: 40px;
    margin-bottom: 35px;
    border-radius: 7px;
    box-shadow: 0 6px 10px 0 rgba(77, 177, 255, 0.19);
    background-color: #ffffff;
}

.file-detailed-btn {
    position: absolute;
    top: 10px;
    right: -52px;
    width: 60px;
    //height: 168px;
    background-color: #f5f5f9;
    border: 2px solid #000000;
    z-index: 999;
    display: none;
}

.file-detailed-btn p {
    margin: 0;
    padding: 0;
    //width: 78px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    //text-align: left;
    font-family: HYHanHeiW;
    text-align: center;
    //padding-left: 10px;
    //box-sizing: border-box;
}

.file-detailed-btn p:hover {
    background-color: #D9DFE6;
    cursor: pointer;
}

.newFile-icon {
    width: 65px;
    height: 46px;
    margin: 40px 15px 38px 26px;
    z-index: 1;
    //background-color: #f18d04;
}

.newFile-icon img {
    width: 100%;
    height: 100%;
}

.newFile-dec {
    flex: 1;
    height: 52px;
    margin-top: 38px;
}

.newFile-dec p {
    width: 110px;
    height: 22px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #1b2437;
    letter-spacing: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.newFile-dec span {
    height: 20px;
    font-size: 14px;
    color: #98a0a6;
    letter-spacing: 0;
    text-align: left;
    font-family: PingFangSC-Semibold;
}

.function-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 15px;
    line-height: 15px;
    //font-size: 16px;
    //text-align: center;
    //border-radius: 50%;
    //color: #fff;   
    //background-color:#a4b3c6;
    //opacity:0.8;
}

.function-btn img {
    width: 100%;
    height: 100%;
}

.top-left-corner {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 80px;
    height: 72px;
}

.top-left-corner img {
    width: 100%;
    height: 100%;
}

.all-show {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.show-pic {
    position: relative;
    width: 210px;
    height: 360px;
    margin-right: 25px;
    margin-bottom: 20px;
    //background-color: #fff;
    .show-pic-checkbox {
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: 2;
    }
}

.show-pic .delete-time {
    margin-left: 7px;
    margin-top: 7px;
    font-size: 14px;
    color: #98a0a6;
}

.single-show {
    position: relative;
    display: flex;
    width: 210px;
    height: 298px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: url('/assets/toBoom/images/designManager/singleShowBG.png') top left no-repeat;
    background-size: 210px 298px;
    border-radius: 6px;
    box-shadow: 0 10px 17px 0 rgba(77, 177, 255, 0.19);
}

.management-published {
    position: absolute;
    left: 7px;
    bottom: 5px;
    width: 55px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-family: "uzi";
    color: #b1b3be;
    text-align: center;
}

.single-pic {
    width: 155px;
    //height: 208px;
    margin: 0 auto;
    //display:flex;
    //justify-content: column;
    //align-content: center;
    //padding-top: 22px;
}

.single-pic img {
    width: 100%;
}

.show-pic p.single-title {
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin: 0;
    //margin-top: 15px;
    //margin-left: 5px;
    margin-top: 8px;
    margin-left: 7px;
    font-size: 16px;
    color: #1b2437;
    letter-spacing: 0;
    font-weight: 600;
    //text-align: left;
    //font-family: PingFangSC-Medium;
}

.more-btn {
    position: absolute;
    top: 16px;
    right: 25px;
    width: 20px;
    height: 15px;
    // line-height: 20px;
    z-index: 1
}

.more-btn img {
    width: 100%;
    // height: 100%;
}

.detailed-btn-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.detailed-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 78px;
    //height: 168px;
    background-color: #f5f5f9;
    border: 2px solid #000000;
    z-index: 999;
}

.detailed-btn p {
    margin: 0;
    padding: 0;
    //width: 78px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    font-family: HYHanHeiW;
    //padding-left: 20px;
    box-sizing: border-box;
}

.detailed-btn p:hover {
    background-color: #D9DFE6;
    cursor: pointer;
}

.slick-slide * {
    outline: none;
}

.ant-table-custom-style {
    .ant-table-header>table {
        border: 2px solid #000;
    }
    .ant-table-thead {
        font-family: "uzi";
        background-color: #eef1f4;
        &>tr>th {
            font-size: 16px !important;
        }
    }
}

.allworks-table table {
    /*单元格边框线合并*/
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.allworks-table thead {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    font-family: "uzi";
    height: 70px;
    //border: 1px solid #000;
    background: url('/assets/toBoom/images/designManager/tableTheadBg.png') top left no-repeat;
    background-size: cover;
}

.allworks-table thead th {
    padding: 20px 0;
}

.allworks-table tr.each-line {
    height: 55px;
    border-bottom: 1px solid transparent;
    background: url('/assets/toBoom/images/designManager/tableTrBg.png') left bottom no-repeat;
    background-size: contain;
}

.allworks-table td {
    font-size: 16px;
    color: #404060;
    padding: 10px;
}

.allworks-table-btn {
    position: fixed;
    bottom: 0;
    left: 295px;
    width: 85%;
    z-index: 99;
    //margin-left: -80px;
    //margin-right: -80px;
    //margin
    margin-top: 150px;
    background: url('/assets/toBoom/images/designManager/allworksTableBtnBg.png') top left no-repeat;
    background-size: cover;
    padding: 30px 0;
    //margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chosen-dec {
    font-size: 18px;
    font-family: "uzi";
    color: #000000;
    letter-spacing: 0;
}

.allworks-table-btn i.allxuan-icon {
    font-style: normal;
    padding-left: 110px;
    font-size: 19px;
}

.allworks-table-btn span.already-chosen {
    margin-left: 50px;
}

.chosen-handle {
    display: flex;
    width: 320px;
}

.chosen-handle .cancel-chosen,
.chosen-handle .del-chosen {
    width: 110px;
    height: 45px;
    cursor: pointer;
    background-position: 0 0;
    border: none;
    outline: none;
}

.chosen-handle .cancel-chosen {
    background: url("/assets/toBoom/images/designManager/chosenCancel.png") no-repeat;
    background-size: 110px 45px;
}

.chosen-handle .del-chosen {
    background: url("/assets/toBoom/images/designManager/chosenDel.png") no-repeat;
    background-size: 110px 45px;
    margin-left: 20px;
}

.addFile-modal {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.addFile-modal input.file-input {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
}

.common-edit-modal {
    display: flex;
    justify-content: space-around;
    font-family: "uzi";
    color: #000;
    // padding: 30px 0 0;
    .image-info {
        width: 120px;
        img {
            height: 432px;
        }
    }
    label {
        height: 35px;
        line-height: 35px;
    }
    input {
        height: 35px;
        outline: none;
        border: 1px solid #000;
        padding: 0 5px;
    }
}

.design-menu {
    flex-shrink: 0;
}