.home-page-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('/assets/toBoom/images/designManager/designbg.jpg');
    background-repeat: repeat;
    background-size: 19px 19px;
    background-position: 0 0;
    background-color: #fff;
    .big-right-top {
        position: absolute;
        right: 0;
        top: 0;
        width: 598px;
        height: 218px;
        img {
            width: 100%;
        }
    }
    .home-header {
        display: flex;
        justify-content: space-between;
        //height: 60px;
        margin-top: 36px;
        margin-bottom: 50px;
        //background-color: skyblue;
        .home-header-right {
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 100px;
            //width:600px;
            //height: 60px;
            //background-color: red;
            z-index: 1;
            .home-btn {
                font-family: "uzi";
                font-size: 20px;
                color: #000000;
                letter-spacing: 1.17px;
                text-align: center;
                //display: none;
                .home-login {
                    text-decoration: none;
                    color: #000000;
                    cursor: pointer;
                }
                .home-line {
                    font-style: normal;
                    margin: 0 10px;
                    font-family: serif;
                    font-weight: 800;
                }
                .home-register {
                    text-decoration: none;
                    color: #000000;
                }
            }
            .user-area {
                font-size: 18px;
                font-family: 'uzi';
                color: #000000;
                letter-spacing: 1.17px;
                text-align: left;
                cursor: pointer;
                //display: none;
                span.home-user-name {
                    margin-left: 5px;
                    //display: inline-block;
                    //width: 246px;
                    //white-space: nowrap;
                    //overflow: hidden;
                    //text-overflow: ellipsis;
                    //height: 27px;
                    //line-height: 35px;
                }
            }
            .user-desc {
                position: absolute;
                bottom: -170px;
                left: 0;
                width: 280px;
                height: 180px;
                border: 2px solid #000;
                background-color: #fff;
                //display: none;
                .user-header {
                    display: flex;
                    padding: 0 15px;
                    height: 35px;
                    font-size: 14px;
                    line-height: 35px;
                    font-weight: 600;
                    border-bottom: 1px solid #c5bdbd;
                    .userid-name {
                        display: inline-block;
                        flex: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .user-exit {
                        display: inline-block;
                        //width: 28px;
                        font-style: normal;
                        margin-left: 15px;
                        //color: red;
                        color: #616682;
                        cursor: pointer;
                    }
                }
                .user-info {
                    padding: 0 15px;
                    font-size: 14px;
                    color: #616682;
                    letter-spacing: 1px;
                    .user-power {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        span.category {
                            margin-left: 10px;
                            color: #ff954d;
                        }
                    }
                    .other-info {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;
                        .client-area {
                            i.client-pic {
                                margin-right: 5px;
                            }
                            a.download-client {
                                text-decoration: none;
                                color: #616682;
                            }
                        }
                        .binding-computer {
                            width: 75px;
                            height: 19px;
                            padding: 0 5px;
                            box-sizing: border-box;
                            background-color: #f4747e;
                            border-radius: 4px;
                            font-size: 12px;
                            color: #ffffff;
                            letter-spacing: 0;
                            text-align: center;
                        }
                    }
                }
            }
            .home-menu {
                margin-left: 35px;
                width: 145px;
                height: 42px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    transition: scale 500ms;
                    &:hover {
                        transform: scale(1.1)
                    }
                }
            }
        }
    }
    .home-center {
        display: flex;
        flex: 1;
        padding: 0 0 0 205px;
        // padding:  0 115px 0 185px;
        align-items: center;
        justify-content: space-around;
        //background-color: pink;
        .home-center-left {
            position: relative;
            width: 659px;
            max-width: 500px;
            min-width: 320px;
            // height: 665px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                position: absolute;
                //width: 100%;
                width: 140%;
                height: 100%;
                background-image: url('/assets/toBoom/images/homePage/homeCenterLeft.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            section {
                width: 100%;
                height: 100%;
            }
            //background-color: blue;
            .cloth-picture {
                width: 100%;
                height: 100%;
                // margin: 35px auto;
                //background-color: pink;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    &:first-child {
                        //z-index: 6;
                        z-index: 0;
                    }
                    &:nth-child(4) {
                        z-index: 5;
                    }
                    &:nth-child(5) {
                        z-index: 10;
                    }
                    &:nth-child(3) {
                        z-index: 7;
                    }
                    &:nth-child(6) {
                        z-index: 9;
                    }
                }
            }
            .neckline-area {
                position: absolute;
                //top: 7%;
                //left: -15%;
                //width: 25%;
                top: 6%;
                left: -12%;
                width: 20%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
            .oversize-area {
                position: absolute;
                //top: 30%;
                //left: -35%;
                //width: 30%;
                /* height: 20%; */
                top: 24%;
                left: -33%;
                width: 25%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
            .belt-area {
                position: absolute;
                //top: 60%;
                //left: -30%;
                //width: 25%;
                /* height: 33%; */
                top: 50%;
                left: -32%;
                width: 20%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
            .sleeve-area {
                position: absolute;
                //top: 17%;
                //right: -28%;
                //width: 25%;
                top: 22%;
                right: -28%;
                width: 20%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
            .pocket-area {
                position: absolute;
                //top: 38.5%;
                //right: -40%;
                //width: 32%;
                top: 42.5%;
                right: -40%;
                width: 26%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
            .placket-area {
                position: absolute;
                //top: 65%;
                //right: -30%;
                //width: 25%;
                top: 66%;
                right: -21%;
                width: 20%;
                img {
                    width: 100%;
                    //height: 100%;
                }
            }
        }
        .home-center-right {
            margin: 0;
            padding: 0;
            margin-left: 200px;
            .english-name {
                margin-top: 40px;
                margin-bottom: 17px;
                font-family: "uzi";
                font-size: 68px;
                color: #000000;
                letter-spacing: 1.96px;
                text-align: right;
            }
            .chinese-name {
                font-size: 36px;
                font-family: "uzi";
                color: #000000;
                letter-spacing: 1.04px;
                text-align: right;
                margin-bottom: 40px;
            }
            .start-design-box {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .start-design-btn {
                    width: 145px;
                    height: 41px;
                    cursor: pointer;
                    img {
                        width: 100%;
                        &:hover {
                            filter: sepia(50%)
                        }
                    }
                }
            }
        }
    }
    .home-footer {
        //position: fixed;
        //bottom: 0;
        //left: 0;
        width: 100%;
        height: 154px;
        text-align: center;
        font-size: 13px;
        color: #303552;
        letter-spacing: 0.85px;
        //font-family: "uzi";
        background-image: url('/assets/toBoom/images/homePage/homePageFooterbg.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 154px;
        p {
            margin-top: 110px;
        }
    }
}

.showUserDes {
    display: block;
}

.hideUserDes {
    display: none;
}

.goToZoon {
    position: absolute;
    top: 50%;
    left: -40px;
    transition: all 0.5s;
    &:hover {
        left: -20px;
    }
    a {
        display: block;
    }
}