.sider-content {
    position: relative;
    flex-basis: 160px;
    flex-shrink: 0;
    background: #f8ecde;

    .arrow-icon {
        display: none;
        position: absolute;
        // display: block;
        // top: 90%;
        // transform: rotate(-180deg);
        // left: unset;
        // right: 25px;
    }
    
    .logo {
        width: 100%;
        margin-top: 24px;
        text-align: center;
        
    }

    .bottom-group {
        position: absolute;
        width: 100%;
        bottom: 47px;
        padding-top: 50px;
        text-align: center;
        .iconfont {
            text-align: center;
            font-size: 37px;
        }
    }
    .hidden-text {
        display: none;
        p {
            font-size: 14px;
            color: #000;
            margin-bottom: 14px;
            &:last-child {
                color: #df6217;
                cursor: pointer;
            }
        }
    }
    a {
        position: relative;
        display: block;
        margin-bottom: 44px;
        font-size: 25px;
        color: #f28a4c;
        text-decoration: none;
        cursor: pointer;
        z-index: 100;
        &:hover {
            color: #fff;
        }
    }
    i {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        z-index: 100;
        &:first-child {
            position: relative;
            top: 25px;
            left: 25px;
        }
    }
    
    .common-toggle {
        position: absolute;
        top: 0;
        left: 75%;
        width: 76px;
        height: 100%;
        // margin-top: -27%;
        // display: flex;
        // align-items: center;

        .toggle-content {
            position: relative;
            top: 200px;
            background-color: #df6217;
            width: 76px;
            height: 76px;
            z-index: 100;
        }

        section {
            position: absolute;
            top: 320px;
            width: 260px;    
            text-align: center;
            z-index: 101;
            
        }
    }
    .arrow-open {
        display: block;
        animation: arrow-animate .5s linear forwards;
    }
    .arrow-back {
        animation: arrow-reverse .2s linear forwards;
    }
    .toggle-open {
        animation: toggle-animation .5s linear forwards;
    }
    .toggle-back {
        animation: toggle-reverse .2s linear forwards;
    }
   
}

.toggle-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
}



.click-area {
    position: absolute;
    left: 0;
    right: 0;
    width: 76px;
    height: 76px;
    cursor: pointer;
}