    $mainWidth: 1400px;
    $subWidth: 1300px;
    .root-wrapper {
        // position: static !important;
    }
    
    body .slick-dots li button:before {
        // 兼容在 safari 中的问题 
        font-size: 12px
    }
    
    .styleG-container {
        position: relative;
        width: 100%;
        background: url('/assets/toBoom/images/BG.jpg') repeat left top;
        .styleG-bg-1,
        .styleG-bg-2,
        .styleG-bg-3 {
            position: relative;
            width: 100%;
            min-height: 100%;
        }
        .styleG-bg-1 {
            background: url('/assets/toBoom/images/p-corner-b-r.png') no-repeat left top;
            background-size: 25%;
        }
        .styleG-bg-2 {
            background: url('/assets/toBoom/images/sbg2.png') no-repeat left 600px;
        }
        .styleG-bg-3 {
            background: url('/assets/toBoom/images/sbg.png') no-repeat right 1000px;
        }
        .setMargeTop {
            margin-top: 80px;
        }
        .s-menue-box {
            width: 145px;
            height: 42px;
            z-index: 2;
            background: url('/assets/toBoom/images/designManager/menubtn.png') no-repeat center center;
            background-size: 100%;
            cursor: pointer;
            transition: scale 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        .wrapper-header {
            position: relative;
            left: -8px;
            width: 1520px;
            margin: 0 auto;
            height: 90px;
            &.hasBackground {
                background: url('/assets/toBoom/images/subnav.svg') no-repeat left center;
                background-size: 100%;
            }
        }
        .header-affix.hasBg {
            .ant-affix {
                background: url('/assets/toBoom/images/affix.png') no-repeat center 6px;
                background-size: 100% 100%;
            }
        }
        .styleG-bg-3 header.header-bar {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            margin: 0 auto;
            width: 1377px;
            padding-left: 2%;
            height: 75px;
            .dropMenu {
                position: relative;
                top: 10px;
                font-weight: bolder;
                color: #000;
                text-align: center;
                h4 {
                    min-width: 160px;
                    height: 60px;
                    line-height: 60px;
                    cursor: pointer;
                    transition: all 0.5s;
                    font-size: 17px;
                    &.active,
                    &:hover {
                        color: #fff;
                    }
                }
                .dropMenu-third {
                    position: absolute;
                    top: 58px;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    box-sizing: border-box;
                    border: 2px solid #000;
                    border-top: none;
                    background-color: #fff;
                    max-height: 325px;
                    overflow-y: scroll;
                    li {
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        cursor: pointer;
                        &:hover,
                        &.active {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
        i,
        em {
            font-style: normal
        }
        button {
            outline: none;
            border: none;
        }
        a {
            text-decoration: none;
        }
        .sg-top {
            width: 87%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .sg-logo {
            position: relative;
            top: 40px;
            left: 46px;
            height: 70px;
        }
        .sg-nav-tags {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            margin-bottom: 20px;
            li {
                transition: all 0.5s;
            }
            a {
                position: relative;
                display: block;
                width: 102px;
                height: 118px;
                margin-right: 40px;
                text-align: center;
                background-color: bisque;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                background: url('/assets/toBoom/images/tukuyijicaidanBG_1.png') no-repeat center bottom;
                padding-top: 1px;
                color: #000;
                border-bottom-left-radius: 24px;
                border-bottom-right-radius: 25px;
                transition: all 0.2s;
                transform: translateY(-19px);
                text-decoration: none;
                font-family: "uzi";
                &.sg-tags-1 {
                    &.active1,
                    &:hover {
                        background-image: url('/assets/toBoom/images/tukuyijicaidanBG_2.png');
                        transform: translateY(0);
                    }
                }
                &.sg-tags-2 {
                    &.active2,
                    &:hover {
                        background-image: url('/assets/toBoom/images/tukuyijicaidanBG_3.png');
                        transform: translateY(0);
                    }
                }
                &.sg-tags-3 {
                    &.active3,
                    &:hover {
                        background-image: url('/assets/toBoom/images/tukuyijicaidanBG_4.png');
                        transform: translateY(0);
                    }
                }
                &.sg-tags-4 {
                    &.active4,
                    &:hover {
                        background-image: url('/assets/toBoom/images/tukuyijicaidanBG_5.png');
                        transform: translateY(0);
                    }
                }
                i {
                    display: block;
                    width: 31px;
                    height: 42px;
                    line-height: 42px;
                    text-align: center;
                    font-size: 35px;
                    margin-top: 20px;
                    margin-left: 34px;
                }
                em {
                    display: block;
                    font-size: 18px;
                }
            }
        }
        .sg-message {
            margin: 0 auto;
            width: $mainWidth;
            height: 30px;
            line-height: 30px;
            text-align: right;
            font-size: 14px;
            color: #303552;
            font-weight: bolder;
        }
        .sg-search {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: url('/assets/toBoom/images/searchbg.png') no-repeat center center;
            background-size: 100%;
            width: 219px;
            height: 35px;
            input {
                width: 204px;
                height: 35px;
                padding: 0 5px;
                border: none;
                outline: none;
                background-color: transparent;
            }
            i {
                width: 30px;
                height: 30px;
                line-height: 30px;
                background: url('/assets/toBoom/images/searchIcon.png') no-repeat 2px 7px;
                cursor: pointer;
            }
        }
        .tags-panel {
            position: relative;
            left: -10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1400px;
            padding-top: 25px;
            margin: 0 auto 20px;
            .tags-left,
            .tags-right {
                display: flex;
                flex-direction: row;
            }
            .tags-left {
                button {
                    width: 34px;
                    height: 34px;
                    margin: 4px 10px 0;
                    overflow: hidden;
                    cursor: pointer;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                dl {
                    display: flex;
                    flex-direction: row;
                    margin-left: 30px;
                    dt {
                        font-size: 16px;
                        height: 30px;
                        line-height: 30px;
                    }
                    dd {
                        max-width: 80px;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 15px;
                        border-radius: 17px;
                        background-color: #FFF;
                        margin: 0 5px;
                        font-size: 12px;
                        color: #787c95;
                        cursor: pointer;
                        span.text {
                            display: inline-block;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &.active {
                            color: #fff;
                            background-color: #72a1d9;
                        }
                    }
                }
            }
        }
        .checkboxComponent {
            position: absolute;
            top: 300px;
            right: 0;
            .checkbox-btn {
                display: block;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                }
            }
            .checkbox-form {
                position: absolute;
                top: -60px;
                right: -30px;
                width: 628px;
                height: 628px;
                background-color: #f4747e;
                border: 2px solid #000;
                border-radius: 50%;
                z-index: 2;
                transition: all 0.6s;
            }
            .checkbox-submit {
                position: absolute;
                bottom: 38px;
                right: 258px;
                width: 85px;
                height: 34px;
                background: url('/assets/toBoom/images/submit.png') no-repeat left center;
                cursor: pointer;
                background-size: 100%;
            }
            .checkbox-close {
                position: absolute;
                top: 65px;
                right: 135px;
                width: 30px;
                height: 30px;
                text-align: center;
                cursor: pointer;
                background-color: transparent;
                &:hover {
                    color: #FFF;
                }
                i {
                    font-size: 30px;
                    font-weight: bolder;
                }
            }
            .checkbox-pos {
                width: 483px;
                height: 389px;
                margin: 121px auto 0;
                form {
                    display: flex;
                    flex-direction: row;
                    flex-flow: wrap;
                    width: 100%;
                    height: auto;
                }
            }
            .checkbox-item {
                width: 151px;
                margin: 0 5px;
                text-align: center;
                h4 {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                .checkbox-scroll {
                    display: block;
                    width: 100%;
                    height: 353px;
                    overflow-y: scroll;
                }
                label {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                input {
                    margin: 4px 6px 0 0;
                }
                em {
                    display: inline-block;
                    font-style: normal;
                    width: 95px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    font-size: 14px;
                }
            }
        }
        .tags-list {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            width: $subWidth;
            margin: 0 auto 20px;
            a {
                margin-right: 5px;
                border-radius: 25px;
                border: 1px solid #000;
                font-size: 14px;
                padding: 2px 13px;
                margin: 5px 5px 5px 0;
                color: #000;
                text-decoration: none;
                &:hover {
                    color: #e8e8e8;
                }
                &.bg1 {
                    background-color: #72a1d9;
                }
                &.bg2 {
                    background-color: #f4747e;
                }
                &.bg3 {
                    background-color: #d6b1cd;
                }
                i {
                    position: relative;
                    top: 3px;
                    font-size: 18px;
                    font-weight: bolder;
                }
            }
        }
        #sg-list {
            width: 1430px;
            margin: 0 auto;
        }
        #masonry-layout {
            width: 100%;
        }
    }
    /*--  下拉框样式 start   --*/
    
    .styleUp {
        background: url('/assets/toBoom/images/selectorbig_up.png') no-repeat left center;
        background-size: 100% 100%;
    }
    
    .styleDown {
        background: url('/assets/toBoom/images/selectorbig_down.png') no-repeat left center;
        background-size: 100% 100%;
    }
    
    .up {
        width: 108px;
        background: url('/assets/toBoom/images/selector-u.png') no-repeat left center;
        background-size: 100% 100%;
    }
    
    .down {
        width: 108px;
        background: url('/assets/toBoom/images/selector-d.png') no-repeat left center;
        background-size: 100% 100%;
    }
    
    .sheight38 {
        height: 38px;
        h4 {
            padding-right: 25%;
            line-height: 39px !important;
        }
        ul {
            top: 34px;
            left: 4px;
            width: 96% !important;
        }
        li {
            height: 38px;
            line-height: 38px;
            width: 99%;
        }
    }
    
    .sheight33 {
        height: 33px;
        h4 {
            padding-right: 25%;
        }
        ul {
            ul {
                top: 35px;
                left: 0;
                width: 98%;
            }
            li {
                height: 33px;
                line-height: 33px;
                width: 91%;
            }
        }
    }
    
    .selector {
        position: relative;
        width: 130px;
        h4 {
            margin: 0;
            margin-left: 5px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            cursor: pointer;
            span.text {
                display: inline-block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        ul {
            position: absolute;
            z-index: 1;
            width: 98%;
            background-color: #fff;
            max-height: 123px;
            overflow-y: scroll;
            background-size: 100% 100%;
            padding-bottom: 2px;
            border: 3px solid #484848;
            box-sizing: border-box;
            li {
                margin: 0 auto;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                &:hover {
                    background-color: #ddd;
                }
                .text {
                    display: inline-block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
        }
    }
    /*--  下拉框样式 end   --*/
    
    .waterfall-scroller {
        width: 100%;
        height: 890px;
        overflow-y: auto;
        .waterfall-main {
            position: relative;
            width: auto;
        }
        .waterfall-item {
            position: absolute;
            overflow: hidden;
            background-color: #ddd;
            transition: all 0.5s;
            em {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -20px;
                font-size: 22px;
                font-weight: bolder;
                color: #fff;
            }
            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
    
    .ant-backTop-custom-style {
        .ant-back-top-content {
            background-color: #fcc801;
        }
    }