

.commonpagemove-enter {
    opacity: 0.01;
}

.commonpagemove-enter.commonpagemove-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.commonpagemove-leave {
    opacity: 1;
}

.commonpagemove-leave.commonpagemove-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}