.custom-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    button {
        margin-right: 15px;
    }
}

.image-box {
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
    .image-state {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(204, 204, 200, 0.2);
        span {
            i.state-string {
                font-size: 12px;
                font-style: normal;
                margin: 5px;
                color: #1890ff
            }
        }
    }
    figure {
        padding: 10px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: 0;
    }
    img {
        display: block;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
    }
    .image-info-box {
        width: 100%;
        background-color: #fff;
        p {
            width: 100%;
            height: 22px;
            line-height: 22px;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
        }
    }
}

.pic_list {
    margin: 0;
    .ant-list-item-content {
        width: 100%;
    }
}

.ant-list-pagination {
    text-align: center;
}

.nav_search {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    .nav_item {
        flex-direction: row;
        display: flex;
    }
    input {
        border-radius: 0;
        border-top: 0;
        border-bottom: 0;
    }
    .ant-select,
    .ant-calendar-picker {
        width: 100px;
        margin-right: 10px;
        border-right: 1px solid #d9d9d9;
        border-radius: 0;
        .ant-select-selection {
            border: 0;
        }
        .ant-calendar-picker-input {
            border: 0;
        }
    }
    .ant-calendar-picker {
        width: 120px;
        border-right: 1px solid #d9d9d9;
        border-radius: 0;
    }
}

.tabList {
    .ant-tabs-bar {
        margin: 0;
    }
}

.upload_icon {
    text-align: center;
    i {
        position: relative;
        font-size: 20px;
        color: white;
        background: #000;
        input {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50px;
            opacity: 0;
            left: -17px;
        }
    }
}