.close-icon {  
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 40px !important;
}

.fatherContent {
     display: flex;
     flex-direction: column;
     height: 100%;
     overflow-y: hidden;
}

.title-content1 {
    padding-top: 10px;
    font-size: 20px;
    color: #000;
    border-top: 1px solid #999;
}
.title-content2 {
    font-size: 20px;
    color: #000;
    margin:0;
    padding:0;
    padding-top:20px;
    padding-bottom: 20px;
}

.scrollContent {
    flex: 1;
    overflow-y: auto;
}
.artilceAddPic {
    padding-bottom: 40px;
    border-bottom: 1px dashed #ccc;
    overflow-y:auto;
    height:250px;
}

.labelStyle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px dashed #ccc;
    border-radius: 3px;
    line-height: 150px;
    text-align: center;
    font-size: 28px;
}

.addPicture {
    position:relative;
    display:inline-block;
    margin-right:30px;
    margin-top: 20px;
}

.addPictureDiv {
    width: 150px;
}

.img_div {
    position: relative;
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.imageStyle {
    width: 150px;
    height: 150px;
    margin: 0px 0px 15px 0px;
}

.mask {
    position: absolute;
    top: 0px;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba(101, 101, 101, 0.2);
    color: #ffffff;
    opacity: 0;
}

.mask .preview-icon {
    position: absolute;
    top: 80px;
    right: 90px;
}

.mask .delete-icon {
    position: absolute;
    top: 80px;
    right: 50px;
}

.img_div a:hover .mask {
    opacity: 1;
}


.recordContent {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 200px;
    margin:0px 30px 30px 0px;
    border: 1px dashed #ccc;
    border-radius: 5px;

}
.img_div2 {
    width: 150px;
    height: 150px;
    margin:0 auto;
}
.imageStyle2 {
    width: 150px;
    height: 150px;
    margin: 0px 0px 15px 0px;
}
.mask2 {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 250px;
    height: 200px;
    background: rgba(101, 101, 101, 0.2);
    color: #ffffff;
    opacity: 0;
    border-radius: 5px;
}
.mask2 .preview-icon2 {
    position: absolute;
    top: 100px;
    right: 140px;
}

.mask2 .delete-icon2 {
    position: absolute;
    top:100px;
    right: 100px;
}

.img_div2 a:hover .mask2 {
    opacity: 1;
}

.bigImageStyle {
    width: 470px;
}

.add-picture {
    border-bottom: 1px dashed #999 !important;
}

.descriptionContent {
    width: 250px;
    text-align:center; 
}

.editorBtnBox {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}



.editorSaveBtn {
    margin-left: 150px;
    display: inline-block !important;
}