.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
    color:blue;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td  {
      text-align: center;
  }
  
  .ant-table-bordered .ant-table-thead > tr > th, 
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
    border-left: none;
}

.ant-table-bordered .ant-table-header > table,
.ant-table-bordered .ant-table-body > table, 
.ant-table-bordered .ant-table-fixed-left table, 
.ant-table-bordered .ant-table-fixed-right table {
    border:none;
}

.ant-table-thead > tr > th {
    border-top: 1px solid #e8e8e8;
    // border-left: 1px solid red;
}

.ant-table-thead > tr:first-child > th:first-child {
    border-left: 1px solid #e8e8e8;
}
.ant-table-thead > tr:first-child > th:last-child {
    border-right: 1px solid #e8e8e8;
}
