.loading-tool {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    .ant-spin-spinning {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -10px;
        z-index: 999;
    }
}

.loading-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eeeeee70;
    z-index: 2;
}