.search-nav {
    margin-bottom: 20px;
    position: relative;
    .ant-form-item-control {
        line-height: inherit;
    }
    .ant-form.ant-form-inline.simple-search,
    .other-item {
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }
    .ant-form.ant-form-inline {
        .inline {
            display: flex;
            flex-direction: row;
        }
    }
    .ant-form.ant-form-inline.more-search {
        display: flex;
        flex-direction: column;
    }
    .other-item {
        i.iconfont.icon-xiala {
            font-size: 16px;
            cursor: pointer;
            line-height: 32px;
        }
    }
    .advance-search {
        position: absolute;
        transition: all .5s ease-in-out;
        width: 80%;
        padding: 20px 10px;
        background: #fff;
        box-shadow: 0px 1px 5px #999;
        z-index: 6
    }
    .search-footer {
        padding-top: 10px;
        text-align: right;
    }
    form .ant-select:only-child,
    form .ant-cascader-picker:only-child {
        top: 0;
    }
}

.customer-button {
    position: absolute !important;
    right: 20px;
}

.customer-table {
    .ant-pagination-options-size-changer {
        width: auto !important
    }
}

.table-btns {
    p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .table-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-weight: normal;
        font-size: 13px;
        color: #000000a6;
        &:hover {
            color: #1890ff;
        }
    }
}