.redb {
    border: 1px solid red;
}

.footer-panel {
    position: absolute;
    bottom: 16px;
    left: 0;
}

.common-layout {}

.common-panel {
    margin-bottom: 15px;
}

.addpower-transfer {
    margin: 0 auto;
}