.account-content {
    a {
        margin-left: 50px;
    }
}

.department-ul {
    list-style: none;
    font-size: 14px;
}

.department-ul li {
    transition: all 1s ease-in-out;
    height: 50px;
    margin-top: 5px;
    overflow: hidden;
    background: #fff;
}

.clearfix {
    zoom: 1;
}

.department-ul section span {
    float: left;
}

.department-ul li i {
    transition: transform 0.1s linear;
    display: inline-block;
    vertical-align: sub;
    font-size: 27px;
}

.department-ul section div {
    float: right;
}

.department-ul section a {
    margin-left: 50px;
}

.department-ul section {
    padding: 0 14px;
    margin-right: 30px;
    height: 50px;
    line-height: 50px;
}

.table-cell-btns {
    display: inline-block;
    a {
        display: inline-block;
        margin: 0 10px;
    }
}

.invited_code {
    img {
        display: block;
        margin: 0 auto;
    }
    figcaption {
        text-align: center;
    }
}

.drag_picture {
    position: fixed;
    height: 100%;
    top: 0;
    width: calc(100% - 200px);
    right: 0;
    padding: 20px 25px;
    transform: translateX(110%);
    background: white;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 8;
    padding-top: 40px;
    opacity: 0;
    overflow-y: auto;
    .anticon {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .upload_title {
        text-align: center;
        height: 100px;
    }
    .show_pic {
        display: flex;
        justify-content: center;
        min-height: 635px;
        .upload-wrapper {
            width: 200px;
            height: 280px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size: 30px;
            position: relative;
            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                width: 100%;
            }
            img {
                width: 100%;
                padding: 10px;
                display: block;
            }
        }
        .main_pic {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            .pic_main {
                text-align: center;
                overflow: hidden;
                min-height: 305px;
                button {
                    position: relative;
                    margin-top: 5px;
                    width: 200px;
                    overflow: hidden;
                    input {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
        .extra_pic {
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            ul {
                flex: 1;
                display: flex;
                flex-direction: row;
                padding: 0;
                height: 100%;
                flex-shrink: 0;
                li {
                    text-align: center;
                    list-style: none;
                    min-height: 305px;
                    margin-left: 15px;
                    flex-shrink: 0;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                        padding: 10px;
                    }
                    button {
                        position: relative;
                        margin-top: 5px;
                        width: 100%;
                        input {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
            ul:last-child {
                margin: 0;
            }
        }
    }
    .next-button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ant-spin-nested-loading,
.ant-spin-container,
.ant-layout-content {
    height: 100%;
}

.upload_imgs {
    position: absolute;
    top: 0;
    right: 20px;
}

.modify_picture {
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    right: 0;
    padding: 10px 20px;
    transform: translateX(100%);
    background: white;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: row;
    z-index: 8;
    opacity: 0;
    .anticon.modify_close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .show_picture {
        width: 40%;
        padding: 30px;
        background: #eee;
        position: relative;
        overflow: hidden;
        height: 900px;
        img {
            display: block;
            width: 100%;
            background: #eee;
            max-height: 100%;
        }
        img.main_pic {
            background: #fff;
        }
        ul {
            list-style: none;
            width: 100px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            height: 80%;
            overflow-y: auto;
            li {
                height: 150px;
                border: 1px solid #333;
                margin-bottom: 10px;
                position: relative;
                max-height: 100%;
                overflow: hidden;
                background: #eee;
                padding: 10px;
                box-sizing: border-box;
                .anticon.edit {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 16px;
                    cursor: pointer;
                }
                .anticon.picture {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    font-size: 16px;
                    color: #2B9FF6;
                }
                .pic_info {
                    position: absolute;
                    left: 0px;
                    right: 0;
                    bottom: 0;
                    text-align: center;
                }
            }
        }
    }
    .modify_form {
        flex: 1;
        overflow-y: auto;
        .warm_tips {
            font-size: 12px;
            margin: 0;
        }
        .warning_opration {
            a {
                margin-right: 25px;
            }
        }
        .modify_form_button {
            display: flex;
            justify-content: center;
        }
        .status_info {
            display: flex;
            div {
                margin-left: 60px;
                i {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.upload_f_file {
    position: relative;
    input {
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100px;
        bottom: 0;
    }
}