.tagstock-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.tagstock-header {
    height:100px;
}
.tagstock-header .title-content {
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #eee;    
}
.tagstock-header .btn-group {
    height: 60px;
    line-height: 60px;
}
.tagstock-header .btn-group Button:first-child {
    margin-right:15px;
}