.utopia-layout {
    color: #000000a6;
    &>header {
        &>h4 {
            font-size: 16px;
            color: #000000a6;
            padding-left: 19px;
        }
        .m-header-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .m-tabs {
            display: flex;
            a {
                width: 70px;
                height: 48px;
                line-height: 48px;
                border-bottom: 2px solid #fff;
                color: #000000a6;
                margin-right: 10px;
                text-align: center;
                font-weight: normal;
                &.active,
                &:hover {
                    color: #1890ff;
                    border-bottom-color: #1890ff;
                }
            }
        }
        &>button {
            margin-top: 8px;
        }
    }
    .m-data-list {
        margin-top: 20px;
    }
    .m-data-list-panel {
        margin-bottom: 10px;
    }
    .m-data-list-p-top {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left-item {
            display: flex;
            flex-direction: row;
            height: 40px;
            .ant-btn-group {
                position: relative;
                top: 4px;
                margin-right: 10px;
            }
        }
    }
    .m-data-card {
        .ant-checkbox-group {
            overflow: scroll;
            height: 482px;
        }
        ul.m-data-ul {
            list-style: none;
            margin: 0;
            padding: 0;
            &::after {
                content: '';
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }
            li {
                width: 150px;
                float: left;
                margin: 10px 14px 10px 0;
                box-shadow: 3px 2px 7px #ddd;
            }
        }
        figure {
            position: relative;
            width: 150px;
            margin-bottom: 0;
            padding-bottom: 1px;
            &>i.anticon {
                position: absolute;
                top: 0;
                right: 0;
            }
            span.img-box {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 150px;
                height: 200px;
                overflow: hidden;
                img {
                    display: inline-block;
                    max-width: 70%;
                    max-height: 70%;
                    cursor: pointer;
                }
            }
            .ant-checkbox-wrapper {
                width: 100%;
                overflow: hidden;
                &>span {
                    float: left;
                    &:nth-child(2) {
                        width: 130px;
                        padding-right: 0;
                    }
                }
                .ant-checkbox {
                    margin-left: 3px;
                    margin-top: 3px;
                }
                em.img-title {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-style: normal;
                }
            }
            figcaption {
                position: relative;
                bottom: 5px;
                margin-left: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .m-data-table {
        .m-rows {
            cursor: pointer;
        }
    }
    .f-table-btns {
        button {
            border: none;
            background-color: transparent
        }
    }
}

.modal_upload_main {
    max-height: 650px;
    overflow-y: scroll;
}

.add-component-main {
    max-height: 650px;
    overflow-y: scroll;
    strong {
        font-size: 18px;
    }
    .add-component-img-box {
        display: flex;
        flex-direction: row;
        figure {
            width: 150px;
            height: 150px;
            overflow: hidden;
            cursor: pointer;
            border: 1px dashed #ddd;
            &:nth-child(2) {
                margin: 0 10px;
            }
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }
    .ant-form-extra {
        display: inline-block;
    }
}

.add-component-delete-btn {
    position: absolute;
    bottom: 36px;
    right: 0;
}

.imageLIst-modal {
    .ant-modal-body {
        padding: 0;
    }
}

.imageList-wrapper {
    padding: 1px 0;
    .imageList-bar {
        padding: 10px 10px;
        border-bottom: 1px solid #e8e8e8;
    }
    .imageList-main {
        max-height: 500px;
        overflow-y: scroll;
        ul {
            width: 100%;
            list-style: none;
            margin: 0;
            padding-left: 3px;
            &::after {
                content: '';
                display: block;
                height: 0;
                visibility: hidden;
                clear: both;
            }
        }
        li {
            width: 120px;
            float: left;
            margin: 6px;
            box-shadow: 1px 1px 10px #ddd;
            cursor: pointer;
        }
        .imageList_empty {
            width: 100%;
            box-shadow: 0px 0px 0px #fff;
            padding: 20px 0;
            cursor: default;
            color: #bfbfbf;
            text-align: center;
        }
        figure {
            width: 120px;
            height: 180px;
            overflow: hidden;
            margin: 0;
        }
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
        figcaption {
            text-align: center;
            padding: 5px 0px;
        }
        p {
            width: 100%;
            margin: 0;
            font-size: 12px;
            font-weight: lighter;
            padding: 3px 0 3px 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@keyframes action_scale {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes action_scaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.2);
        opacity: 0;
    }
}

.uploadInfo_table_wrapper {
    .uploadInfo_nowrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .selector-box {
        display: block;
        margin-bottom: 15px;
    }
    .action-bar {
        button {
            border: none;
            background-color: transparent;
        }
    }
}

.viewZipInfo {
    .v-header {
        h4,
        h6 {
            text-align: center;
            margin: 0;
            padding: 5px 0;
        }
    }
}

.uploadStatus-wrapper {
    .uploadStatus-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        li.uploadStatus-ul-empty {
            width: 100%;
            padding: 15px 0;
            text-align: center;
            box-shadow: 0px 0px 0px #fff;
            border-bottom: 1px solid #e9e9e9;
            color: #00000073;
        }
        li {
            width: 10%;
            margin: 10px 10px 10px 0;
            box-shadow: 2px 2px 6px #e9e9e9;
            figure {
                width: 100%;
                margin: 0;
                .ant-checkbox-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    &>span.ant-checkbox {
                        padding-top: 4px
                    }
                }
            }
            span.uploadStatus-img-box {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 162px;
                height: 210px;
                overflow: hidden;
                cursor: pointer;
                img {
                    display: inline-block;
                    max-width: 80%;
                    max-height: 80%;
                    margin: 0 auto;
                }
            }
            em.uploadStatus-img-title {
                display: block;
                width: 130px;
                font-style: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            figcaption {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 2px;
            }
        }
    }
}

.modifyModal-container {
    .imageBox {

        figure {
            width: 320px;
            height: 474px;
            overflow: hidden;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px;
            position: relative;

            span.imageBox-span{
                display: table-cell;
                vertical-align: middle;
                width: 310px;
                height: 464px;
                text-align: center;
                img{
                     display: inline-block;
                     max-width: 80%;
                     max-height: 80%;
                }
            }

            .imageBox-radio {
                position: absolute;
                left: 6px;
                bottom: 6px;
                width: 96%;
                padding-top: 3px;
                padding-left: 4px;
                color: #fff;
                background-color: rgba(0, 0, 0, .5);
                margin: 0;
                padding: 0;
                .ant-form-item-control-wrapper {
                    margin-left: 40%;
                }
            }
        }


        span.span-img-box{
            display: table-cell;
            vertical-align: middle;
            width: 320px;
            height: 474px;
            text-align: center;
        }
        img {
             display: inline-block;
            max-width: 70%;
            max-height: 70%;
            cursor: pointer;
        }
    }
}

.sliderCompoenet {
    .container {
        position: relative;
        width: 90%;
        overflow: auto;
    }
    .content {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 5px 0;
        height: 110px;
        li {
            width: 69px;
            height: 100px;
            border: 1px solid #ddd;
            margin-right: 5px;
            cursor: pointer;
            overflow: hidden;
            border-radius: 3px;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            cursor: pointer;
        }
    }
}

.preview-component {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 10px;
        border-bottom: 1px dashed #ddd;
    }
    .item-image-box {
        display: flex;
        flex-direction: row;
        figure {
            margin: 0 0 0 20px;
            padding: 0 0 1px;
            img {
                display: block;
                width: 85px;
                height: 90px;
                border: 1px dashed #ddd;
                margin: 0 auto 5px;
            }
        }
    }
    .myEchart-box {}
    .item-img-main {
        display: block;
        width: 200px;
        height: 280px;
        border: 1px dashed #ddd;
    }
    .item-info {
        width: 73%;
        margin: 0;
        dt {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            font-weight: bolder;
        }
        dd {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            max-height: 36px;
            color: #8e8e8e;
            font-size: 12px;
        }
    }
}

.viewBigPicture {
    .ant-modal-body {
        padding: 15px;
    }
    .bigPicture {
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
}

.excep_model {
    .ant-modal-body {
        max-height: 500px;
        overflow-y: scroll;
    }
}

.material_upload_form {
    .ant-upload-drag {
        width: 300px;
    }
}