.modal-show {
    // visibility: visible;
    display: flex !important;
    opacity: 1;
}

.modal-hide {
    // visibility: hidden;
    opacity: 0;
    display: none !important;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s;
    .modal-content {
        border: 2px solid #000000;
        background: #fff;
        width: 620px;
        font-family: "uzi";
        color: #000;
        // min-height: 324px;
    }
    .modal-article {
        //min-height: 324px;
        margin: 75px 0 50px 0;
        overflow: auto;
    }
    .modal-articl-private {
        min-height: 240px !important;
        margin: 0 !important;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        border-bottom: 2px solid #000000;
        span {
            margin: 16px;
            font-size: 18px;
        }
        i {
            position: relative;
            top: 7px;
            height: 44px;
            font-size: 35px;
            font-weight: bolder;
            cursor: pointer;
            &:hover {
                color: #b9b9b9;
            }
        }
    }
    footer {
        margin: 0 65px 43px 35px;
        // padding-bottom: 35px;
        section {
            display: flex;
            justify-content: flex-end;
        }
        button {
            width: 105px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: none;
            outline: none;
            font-family: "uzi";
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                color: #b9b9b9;
            }
        }
        button:first-child {
            background: url('/assets/toBoom/images/designbtn.png') no-repeat left top;
            background-size: 100% 100%;
        }
        button:last-child {
            background: url('/assets/toBoom/images/bottomBG.png') no-repeat left top;
            background-size: 100% 100%;
            margin-left: 34px;
        }
    }
}

.material-modal {
    position: fixed;
    // left: 0;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // height: 0;
    // width: 50px;
    z-index: 5;
    // background: red;
}

.material-content {
    position: absolute;
    // width: 50px;
    // height: 50px;
    max-width: 303px;
    // padding: 20px;
    overflow: hidden;
    z-index: 11;
    box-sizing: border-box;
}

.modal-content {
    position: relative;
    z-index: 11;
    // height: 50px;
    // width: 50px;
    // background: red;
}

.modal-hider {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.download_progres {
    margin: 80px auto 0;
    //margin: 0px auto 0;
    width: 90%;
    &>h4 {
        font-size: 16px;
        font-weight: bolder;
    }
    .d_progres_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &>div {
            width: 88%;
        }
        &>span {
            position: relative;
            bottom: 3px;
            width: 10%;
        }
    }
}