.menu-header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    //height: 60px;
    // margin-bottom: 150px;
    .menu-header-left {
        width: 139px;
        //height: 60px;
        margin-left: 80px;
        z-index: 1;
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .menu-header-right {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 140px;
        //width:600px;
        height: 60px;
        //width: 240px;
        z-index: 1;
        justify-content: center;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
        .menu-btn {
            font-family: "uzi";
            font-size: 20px;
            color: #000000;
            letter-spacing: 1.17px;
            text-align: center;
            //display: none;
            .menu-login {
                text-decoration: none;
                color: #000000;
                cursor: pointer;
            }
            .menu-line {
                font-style: normal;
                margin: 0 10px;
                font-family: serif;
                font-weight: 800;
            }
            .menu-register {
                text-decoration: none;
                color: #000000;
            }
        }
        .menu-user-area {
            font-size: 18px;
            font-family: 'uzi';
            color: #000000;
            letter-spacing: 1.17px;
            text-align: left;
            cursor: pointer;
            //display: none;
            span.menu-user-name {
                margin-left: 5px;
                display: inline-block;
                width: 220px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: text-bottom;
            }
        }
        .menu-user-desc {
            position: absolute;
            //bottom: -170px;
            bottom: -190px;
            left: 0;
            //width: 280px;
            //height: 180px;
            border: 2px solid #000;
            background-color: #fff;
            //display: none;
            .menu-user-header {
                display: flex;
                padding: 0 15px;
                height: 35px;
                font-size: 14px;
                line-height: 35px;
                font-weight: 600;
                border-bottom: 1px solid #c5bdbd;
                .menu-userid-name {
                    display: inline-block;
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .menu-user-exit {
                    display: inline-block;
                    //width: 28px;
                    font-style: normal;
                    margin-left: 15px;
                    //color: red;
                    color: #616682;
                    cursor: pointer;
                }
            }
            .menu-user-info {
                padding: 0 15px;
                font-size: 14px;
                color: #616682;
                letter-spacing: 1px;
                .menu-user-power {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    span.menu-category {
                        margin-left: 10px;
                        color: #ff954d;
                    }
                }
                .menu-other-info {
                    display: flex;
                    justify-content: space-between;
                    //margin-top: 20px;
                    margin: 20px 0px 10px 0px;
                    .menu-client-area {
                        i.menu-client-pic {
                            margin-right: 5px;
                        }
                        a.menu-download-client {
                            text-decoration: none;
                            color: #616682;
                        }
                    }
                    .menu-binding-computer {
                        //width:75px;
                        height: 19px;
                        padding: 0 5px;
                        box-sizing: border-box;
                        background-color: #f4747e;
                        border-radius: 4px;
                        font-size: 12px;
                        color: #ffffff;
                        letter-spacing: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.menu-center {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 0 12%;
}

.menu-footer {
    //position: absolute;
    display: flex;
    width: 100%;
    height: 125px;
    background-image: url('/assets/toBoom/images/designManager/designbg.jpg');
    background-repeat: repeat;
    background-size: 19px 19px;
    background-position: 0 0;
    align-items: center;
    text-align: center;
    //background-color: #fff;
    .menu-company {
        flex: 1;
        font-size: 13px;
        color: #303552;
        letter-spacing: 0.85px;
        text-align: center;
        width: 100%;
    }
    .menu-share {
        position: fixed;
        right: 0;
        width: 200px;
        margin-top: 10px;
        .menu-share-iconfont {
            &>i {
                cursor: pointer;
                padding: 0 15px;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .menu-company-link {
            font-size: 13px;
            color: #303552;
            letter-spacing: 0.85px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

.close-button {
    position: fixed !important;
    z-index: 1001;
    cursor: pointer;
    //```````````lsh````````
    // left: 95% !important;
    // top: 9% !important;
}

.close-circle {
    position: fixed !important;
    z-index: 1001;
    cursor: pointer;
    //```````````lsh````````
    // left: 95% !important;
    // top: 9% !important;
}

.close-button-x {
    z-index: 1002;
    //````````lsh````````
    // left: 100% !important;
    // top: -40% !important;
}

.menu-stayer {
    width: 100%;
    height: 100%;
    display: none;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    z-index: 1000;
    flex-direction: column
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        cursor: pointer;
        transition: all 300ms;
        &:hover {
            transform: translateY(-25px);
        }
    }
    section {
        display: flex;
        flex-flow: column wrap;
        font-size: 24px;
        align-items: center;
        span {
            font-family: "uzi";
            color: #303552;
            &:first-child {
                margin-top: 16px;
            }
            &+span {
                font-family: "good_dog";
                font-size: 20px;
                color: #616682;
            }
        }
    }
}

.shape-index {
    position: fixed !important;
}

.menu-btn,
.new-design-btn {
    cursor: pointer;
}